header {
	background-color: #303030;
}

header li {
	font-size: 20px;
}

.nav-item {
	font-weight: 800;
}

.nav-item span {
	font-weight: 300;
}

.mobile {
	display: none;
	font-size: 24px;
	text-align: center;
}

h1 {
	font-size: 30px !important;
}

.modal-header {
	background-color: #444444;
}

.modal-title {
	font-size: 18px;
}

.modal-footer {
	background-color: #375a7f;
	cursor: pointer;
}

.save-task {
	font-size: 18px;
	font-weight: 800;
}

#taskArea {
	background-color: #303030;
	font-size: 18px;
	border: none;
	color: rgb(255, 255, 255, 0.35);
}

.card-header {
	font-size: 18px;
}

.card-header span {
	font-weight: 800;
}

.card-text {
	font-size: 18px;
	cursor: text;
}

.fa-edit {
	cursor: pointer;
}

@media screen and (max-width: 769px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
